body {

}
header {

}

.main_menu {

}
.main_menu__items {

}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.logo__img {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.background_img {

}
.background_img__text {

}
.icons {

}
.icons__img {

}
.h1_title {

}
.h1_title__text {

}
.google_map {

}
.google_map__text {

}
.google_map__iframe {

}

.copyright {

}