body {
    background-color: #ffe2b0;
}

.logo {
    display: block;
    text-align: center;
    margin: 0 0 1.25rem 0;
}

.logo__img {
    width: auto;
    height: auto;
}

nav {
    display: block;
    align-items: center;
    text-align: center;

}

.main_menu {
    display: block;
    align-items: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    color: #000;
    text-transform:uppercase;
    margin:0 0 1.25rem 0;
}

.main_menu ul {
    display: inline;
    text-align: center;
    list-style: none;
}
.main_menu li {
    display: inline;
    text-align: center;
    list-style: none;
    font-weight: 700;
    color: #000;
    padding: 0 6.25rem 0 0;
}

.main_menu li:last-child {
    padding: 0;
}
.main_menu a {
    display: inline;
    text-align: center;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.main_menu a:hover {
    color: #ff6f61;
}
.main_menu a:active {
    color: #ff6f61;
}
.main_menu a:focus {
    color: #ff6f61;
}
.main_menu__item {
    display: inline;
    text-align: center;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}   

.background_img {
    display: block;
    align-items: center;
    background-image: url(../assets/img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -1;
    margin: 0 0 1.25rem 0;
}

.icons {
    display: block;
    align-items: center;
    text-align: center;
    margin: 0 0 1.25rem 0;
}

.icons__img {
    width: auto;
    height: auto;
    padding: 0 4.75rem 0 0;
}

.icons__img:last-child {
    padding: 0;
}

.h1_title {
    display: block;
    align-items: center;
    text-align: center;
}

.h1_title__text {
    display: inline-block;
    align-items: center;
    text-align: center;
    font-family: "Philosopher", sans-serif;
    font-size: 6rem;
    font-weight: 700;
    color: #000;
    margin: 0 0 2.25rem 0;
}

.h1_title__text span {
    display: inline-block;
    align-items: center;
    text-align: center;
    font-family: "Philosopher", sans-serif;
    font-size: 6rem;
    font-weight: 700;
    color: #f15b40;
    margin: 0 0 1.25rem 0;
}

.h1_title p {
    display: inline-block;
    align-items: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    color: #000;
    width: 62.5rem;
    margin: 0 0 4.25rem 0;
}

.google_map {
    display: block;
    align-items: center;
    text-align: center;
    margin: 0 0 1.25rem 0;
}
.google_map__text {
    display: inline-block;
    align-items: center;
    text-align: center;
    font-family: "Philosopher", sans-serif;
    font-size: 2.25rem;
    font-weight: 700;
    color: #000;
    margin: 0 0 1.25rem 0;
}